/* styles.css */
html, body {
    font-family: Verdana;
    font-size: 15px;
    line-height: 1;
    display: flex;
    user-select: none;
}

html {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

.tab {
    background-color: #002554; /* This is the official UofT dark blue. */
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tab button {
    color: #ffffff;
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    font: inherit;
}

.tab button:hover {
    background-color: #1453ad;
}

.tab button.active {
    background-color: #1453ad;
}

.tabcontent {
    margin-left: 200px;
    padding: 20px;
    min-width: 100%;
    max-width: 100%;
    width: 800px;
}

.input-label {
    font-weight: bold;
}

#userInfo {
    size: 50;
    width: 500px;
    font-family: inherit;
}

textarea {
    resize: none;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    font-family: inherit;
}

form {
    background-color: #fff;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input[type="radio"] {
    display: inline-block;
    width: auto;
    font-family: inherit;
}

#firstQuestion select {
    font-family: inherit;
    padding: 4px;
    font-size: 15px;
}

#firstQuestion select optgroup{
    font-size: 15px;
}

.tabcontent button {
    background-color: #ccc;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 10px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.tabcontent button:hover {
    background-color: #ddd;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

#academicHistory input[type="text"] {
    font-family: inherit;
    font-size: 20px;
    width: 426px; /* ? */
    size: 300;
    padding: 10px 0px;
}

#academicHistory button {
    width: 300px;
    display: inline;
    padding: 10px 0px
}

#academicHistory button:hover {
    background-color: #ddd;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

#minorDropdown {
    font-family: inherit;
    padding: 4px;
    font-size: 15px;
}

#minorDropdown optgroup{
    font-size: 15px;
}

#saveMinor {
    display: inline;
    width: 500px;
    padding: 5px 0px
}

#iframeContainer {
    height: 80vh;
    width: 850px;
}

iframe {
    height: 80vh;
    width: 850px;
}

#container {
    margin-top: 10px;
    display: block;
    width: 800px
}

/* TODO

NOTE TO SELF
UPDATE THIS DOCUMENT W/R/T EXAMPLE TEMPLATES

E.G.

https://www.w3schools.com/w3css/tryw3css_templates_architect.htm
https://www.w3schools.com/w3css/4/w3.css
